.content {
  width: 98%;
  margin: auto;
}
.header {
  padding-bottom: 5px;
}
.btn1 {
  width: 16%;
  padding: 7px;
  border-radius: 0;
  color: #f8f8f8;
}
.btn2 {
  width: 16%;
  padding: 7px;
  background-color: #797979;
  border-radius: 0;
  color: #f8f8f8;
}
.active.btn2{
  background-color: #40608f;

}
.create-party {
  width: 100%;
  background-image: linear-gradient(#d7d7d7, #b7b7b7);
  border-radius: 12px;
 
}

.create-party-button {
  border-radius: 5px;
  background-color: #40608f;
  color: #f8f8f8;
 margin: 10px!important;
}
.expansion {
  width: 100%;
  color: #000000de;
  background: #fff;
}
.create-button{
  height: fit-content;
  width: fit-content;
  background-color: #40608f;
  color: #fff;
  border-radius: 5px;
  padding: 0%;
  margin-top: 1%;
}

/* :host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

/* ::ng-deep .mat-form-field {
  width: 24%;
  margin-left: 0.5%;
  margin-right: 0.5%;
} */
a{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.mat-expansion-panel {
  width: 100%;
  /* background-image: linear-gradient(#d7d7d7, #b7b7b7); */
  background: linear-gradient(#d7d7d7, #b7b7b7);
}
.mat-expansion-panel-active {
  width: 100%;
  /* background-image: linear-gradient(#d7d7d7, #b7b7b7); */
  background: linear-gradient(#e7e7e7, #d1cece);
}

 .expansion-header {
  background: linear-gradient(#d7d7d7, #b7b7b7);
}

 .mat-expansion-panel-body {
  background: linear-gradient(#d7d7d7, #b7b7b7);
}

::ng-deep .expansion-header:hover {
  background: linear-gradient(#d7d7d7, #b7b7b7);
}
.mat-content{
 margin-top: 1%;
 margin-left: auto;
 margin-right: auto;
 padding: 0;
}
/* ::ng-deep .mat-form-field-wrapper {
  padding-top: 0;
  padding-bottom: 0;
} */

/* ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  display: flex;
  position: absolute;
  top: .25em;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  height: 40px;
  background-color: white;
  border-radius: 15px;
 
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline  {
  margin:0;
} */

.form-inputs{
  /* display: flex;
  flex-direction: row; */
  gap: 3%;
}
.mat-form-field{
  padding-right: 1%;
  padding-left: 1%;
  padding-bottom: 0;
}
table {
  width: 100%;
  margin-top: 2%;
}
th {
  background-color: #797979;
  color: #f8f8f8;
  font-size: 15px;
}
.paginator{
  background-color: #797979;
  color: #f8f8f8;

  margin: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
 
}
.mat-paginator {
  background-color: #797979;
  color: #f8f8f8;
  margin-right: 40%;
}

.mat-row:nth-child(2n + 1) {
  background-color: #cfd3d8;
}
.mat-row:not(:nth-child(2n + 1)) {
  background-color: #e7e7e7;
}
.mat-column-Name,
.mat-column-Roles,
.mat-column-CreatedAt,
.mat-column-ModifiedOn,
.mat-column-ModifiedBy {
  width: 30px;
  border-right: 3px solid #797979;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}
.mat-column-PartyId {
  width: 30px;
  border-right: 3px solid #797979;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  border-left: 1px solid #797979;
}
.mat-column-Status {
  width: 30px;
  border-right: 1px solid #797979;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}
.mat-stroked-button.mat-primary{
  background-color: #797979;
}
.mat-button-toggle{
  background-color: #797979;
}
.mat-button-toggle-checked{
  background-color: #40608f;
}

.active button{
  background-color: #40608f;
}



