<div class="uploadFile">
    <div class="uploadFile-mat">
        <div >UPLOAD PARTIES</div>
        <mat-divider></mat-divider>
        <div class="uploadFile-mat-label">
            <label >UPLOAD FILE:</label>
        </div>
        <div>
            <span>
                <input type="file" accept=".xlsx" required>
            </span>
            <span>
                <button type="submit" class="submit-btn">UPLOAD</button>
            </span>
        </div>
        <div class="downlaoad-sample">
            <span>
                <button class="submit-btn">DOWNLOAD SAMPLE</button>
            </span>
        </div>
    </div>
</div>
