<div class="content">
  <div class="header">
    <button class="btn1" mat-stroked-button>PARTY</button>
    <mat-divider></mat-divider>
  </div>
  <div class="createParty">
    <mat-card class="createParty-form">
      <div class="form-header">
        <p class="form-title">Create Party</p>
      </div>
      <div>
        <form  #form (ngSubmit)="AddParty(mform.value)"  [formGroup]="mform" class="form-submit" >
          <div class="column">
            <mat-form-field  appearance="outline">
              <mat-label>Party Name</mat-label>
              <input matInput placeholder="Party Name" formControlName="partyName" name="partyName" required />
              <mat-error *ngIf="mform.invalid">{{ getErrorMessage() }}</mat-error>
            </mat-form-field>

            <mat-form-field  class="descrpt" appearance="outline">
              <mat-label>Description</mat-label>
              <textarea matInput placeholder="Description" formControlName="description" name="description" ></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Party Type</mat-label>
              <mat-select  formControlName="partyType" name="partyType" required >
                <mat-option value="group">Group</mat-option>
                <mat-option value="person">Person</mat-option>
              </mat-select>
              <mat-error *ngIf="mform.invalid">{{ getErrorMessage() }}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Roles</mat-label>
              <mat-select  formControlName="roles" name="roles" required>
                <mat-option
                  *ngFor="let topping of toppingList"
                  [value]="topping"
                  >{{ topping }}</mat-option
                >
              </mat-select>
              <mat-error *ngIf="mform.invalid">{{ getErrorMessage() }}</mat-error>
            </mat-form-field>

            <mat-form-field  appearance="outline">
              <mat-label>Gst No</mat-label>
              <input matInput placeholder="Gst No" name="gstNo"  formControlName="gstNo" />
            </mat-form-field>
            <br />

            <button mat-raised-button class="btn" [disabled]="!mform.valid">Create</button>
          </div>
        </form>
      </div>
    </mat-card>


  </div>
</div>
